%p#notice= notice
%h1 Ladies
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @ladies.each do |lady|
      %tr
        %td= link_to 'Show', lady
        %td= link_to 'Edit', edit_lady_path(lady)
        %td= link_to 'Destroy', lady, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Lady', new_lady_path
%button.btn.btn-primary{:type => "button"} Primary
