.container
  .row
    .col-md-4.col-sm-12.col-12.pt-3
      - if params[:men]
        %h3 Men Personals
      - else
        %h3 Female Personals
    .col-md-4.col-sm-6.col-6
      - if params[:men]
        .form-group
          %select.wide.mb-0{:name => "selectvendor"}
            %option{:value => personals_path(ladies: true)} Yangon
            %option{:value => personals_path(ladies: true)} Mandalay
      - else
        .form-group
          %select.wide.mb-0{:name => "selectvendor"}
            %option{:value => "0"}
              = link_to 'Yangon', personals_path(female: true, sort: 0)
            %option{:value => "1"}
              = link_to 'Mandalay', personals_path(female: true, sort: 1)
    .col-md-4.col-sm-6.col-6
      - if params[:men]
        .form-group
          %select.wide.mb-0{:name => "selectvendor"}
            %option{:value => personals_path(ladies: true)} Lowest to Highest
            %option
              = link_to 'Highest to Lowest', personals_path(men: true, sort: 1)
      - else
        .form-group
          %select.wide.mb-0{:name => "selectvendor"}
            %option{:value => "0"}
              = link_to 'Lowest to Highest', personals_path(female: true, sort: 0)
            %option{:value => "1"}
              = link_to 'Highest to Lowest', personals_path(female: true, sort: 1)
  %hr
  .row
    - @personals.each do |personal|
      .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2.lady-card
        = link_to personal_path(personal) do
          .location-card
            %img.lady-img.img-fluid.rounded{:alt => "", :src => "#{url_for(personal.images.first)}"}/
            %i.fa.fa-circle.active.text-secondary
            .card-img-overlay.text-center
              .location-img-content
          %p.text-center
            = personal.name
