.container
  .row
    .offset-xl-3.col-xl-6.offset-lg-2.col-lg-8.col-md-12.col-sm-12.col-12.mb-3
      / contact-section-title
      .text-center
        %p.lead
          Please fill the following form to join the community
    .offset-xl-3.col-xl-6.offset-lg-3.col-lg-6.col-md-12.col-sm-12.col-12
      .contact-form
        = simple_form_for(@personal, url: personals_path, method: :post, html: { class: "campaign-form"} )do |f|
          .row
            = f.error_notification
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :name, label: 'Name', placeholder: 'Name', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :age, label: 'Age', placeholder: 'Age', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :height, label: 'Height', placeholder: 'Height', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :price, label: 'Price', placeholder: 'Price', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :ph_no, label: 'Phone No', placeholder: 'Phone No', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :gender_id, as: :select, label: 'Name', label: false, collection: Gender.all, input_html: { class: 'w-100' },  prompt: 'Gender'
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :interest_ids, as: :select, multiple: true, collection: Interest.all, label: false, placeholder: 'Interests', input_html: { class: 'w-100'},  prompt: 'Interests'
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.input :description, label: 'Description', placeholder: 'Description', label: false
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.file_field :images, multiple: true, class: 'my-pond'
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
              = f.submit
