.list-single-carousel
  .owl-carousel.owl-theme.owl-second.owl-loaded.owl-drag
    - @personal.images.each do |img|
      .item
        %img.pre-show-img{:alt => "", :src => "#{url_for(img)}"}/
.list-single-second
  .container
    %div
      .row
        .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12
          .vendor-head.text-xl-left
            %h2.mb10
              = @personal.name
        .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-12
          .vendor-head.text-xl-right
            %a.btn-lg.btn-default-wishlist{:href => "viber://add?number=#{@personal.ph_no}"}
              %i.fa.fa-heart
              %span.pl-1 Send a message
      .vendor-meta.bg-white.border.m-0
        .vendor-meta-item.vendor-meta-item-bordered
          %span.vendor-price
            = number_to_currency(@personal.price, :unit => "$")
          %span.vendor-text 2 Hour Meet Up
        .vendor-meta-item.vendor-meta-item-bordered
          %span.vendor-guest
            = @personal.height + " cm"
          %span.vendor-text Height
        .vendor-meta-item.vendor-meta-item-bordered
          %span.vendor-guest
            = @personal.age
          %span.vendor-text Age
.vendor-content-wrapper
  .container
    .row
      .col-12
        / vendor-details
        %div
          .card.border.card-shadow-none
            %h3.card-header.bg-white Interests
            .card-body
              .row
                .col-6
                  .animities-list
                    %ul.list-unstyled.arrow
                      - @personal.interests[0..((@personal.interests.count/2)-1)].each do |interest|
                        %li
                          = interest.title
                .col-6
                  .animities-list
                    %ul.list-unstyled.arrow
                      - @personal.interests[(@personal.interests.count/2)..@personal.interests.count].each do |interest|
                        %li
                          = interest.title
          .card.border.card-shadow-none
            %h3.card-header.bg-white About me
            .card-body
              %p
                = @personal.description
